Repository jonathanmdavies/gooey-rails: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx}"
      run: yarn lint {staged_files}
    rubocop:
      tags: backend style
      glob: "*.rb"
      exclude: "application.rb|routes.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman -A -q --no-pager

Redesigns and refactors Dropdown
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/components/Dropdown.jsx
  app/frontend/components/Dropdown/Index.jsx
  app/frontend/components/NewFeedButton.jsx
  app/frontend/components/Portal.jsx
  app/frontend/components/manage/FeedDropdown.jsx
  app/models/feed.rb
Due: eslint, rubocop

Adds bookmarking feed items
  app/controllers/bookmarks_controller.rb
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  config/routes.rb
  spec/system/reading/bookmarks_item_spec.rb
Due: eslint, rubocop

Adds a Dashboard page with recent unread items
  app/controllers/application_controller.rb
  app/controllers/dashboards_controller.rb
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/Pages/Dashboard/Show.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/serializers/dashboard/item_resource.rb
  config/routes.rb
  spec/system/dashboard/views_dashboard_spec.rb
Due: eslint, rubocop

Displays number of items published today
  app/controllers/dashboards_controller.rb
  app/frontend/Pages/Dashboard/Show.jsx
Due: eslint, rubocop

Adds account unread items via counter cache
  app/controllers/dashboards_controller.rb
  app/frontend/Pages/Dashboard/Show.jsx
  app/models/account.rb
  app/models/item.rb
  app/services/item_creator.rb
  db/migrate/20220509104123_add_unread_items_count_to_account.rb
  db/schema.rb
  spec/factories/feeds.rb
  spec/factories/items.rb
  spec/models/account_spec.rb
  spec/system/dashboard/views_dashboard_spec.rb
  spec/system/reading/bookmarks_item_spec.rb
  spec/system/reading/marks_item_as_read_spec.rb
  spec/system/reading/marks_item_as_unread_spec.rb
Due: eslint, rubocop

Moves location of feed counter cache spec.
  spec/models/feed_spec.rb
  spec/models/item_spec.rb
Due: rubocop

Adds Bookmarks and Unread Bookmarks Counter Caches
  app/controllers/dashboards_controller.rb
  app/frontend/Pages/Dashboard/Show.jsx
  app/models/item.rb
  spec/models/account_spec.rb
Due: eslint, rubocop

Adds Published Today scope
  app/controllers/dashboards_controller.rb
  app/models/item.rb
  spec/factories/items.rb
  spec/models/item_spec.rb
Due: rubocop

Adds Recently Bookmarked List & Heading Section
  app/frontend/Pages/Dashboard/Show.jsx
  app/serializers/dashboard/item_resource.rb
Due: eslint, rubocop

Adds Reading Habits graph and organises Dashboard
  Gemfile
  Gemfile.lock
  app/controllers/dashboards_controller.rb
  app/frontend/Pages/Dashboard/Show.jsx
  package.json
  yarn.lock
Due: eslint, rubocop

Animates Bookmark filtering transitions
  .eslintrc.js
  app/frontend/Pages/Dashboard/Show.jsx
Due: eslint

Adds simple OPML file parser
  app/models/opml_parser.rb
  spec/fixtures/example_opml.xml
  spec/fixtures/example_opml_with_groups.xml
  spec/models/opml_parser_spec.rb
Due: rubocop

Adds user importing OPML file
  app/controllers/manage/imports_controller.rb
  app/frontend/Pages/Feeds/Index.jsx
  app/frontend/components/NewOpmlFileImportButton.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/sidekiq/import_feed_job.rb
  config/routes.rb
  spec/system/feeds/import_opml_file_spec.rb
Due: eslint, rubocop

Doesn't return unscoped feeds
  app/controllers/manage/feeds_controller.rb
Due: rubocop
