Repository jonathanmdavies/gooey-rails: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

eslint:
  run: yarn lint {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Adds a non-ActiveRecord factory for entries
  spec/factories/entries.rb
  spec/services/feed_fetcher_spec.rb
  spec/services/item_creator_spec.rb
Due: rubocop

Stops last infinte scroll page being re-requested
  app/frontend/components/Reader/Index.jsx
Due: eslint

Adds trait for feed with items
  spec/factories/feeds.rb
  spec/services/feed_fetcher_spec.rb
  spec/system/reading/view_unread_items_spec.rb
Due: rubocop

A bunch of experiments
  Gemfile
  Gemfile.lock
  app/controllers/feeds/items_controller.rb
  app/controllers/items_controller.rb
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Reader/FeedItems.jsx
  app/frontend/components/Reader/FeedSidebar.jsx
  app/frontend/components/Reader/Index.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/models/feed.rb
  app/models/feed_decorator.rb
  app/models/item.rb
  app/serializers/feed_serializer.rb
  app/serializers/item_serializer.rb
  app/services/item_creator.rb
  app/views/layouts/application.html.erb
  config/environments/development.rb
  config/routes.rb
  package.json
  spec/models/feed_spec.rb
  yarn.lock
Due: eslint, rubocop

Adds column of feed items
  app/controllers/feeds/items_controller.rb
  app/controllers/items_controller.rb
  app/frontend/components/Reader/Index.jsx
  app/frontend/components/Reader/ItemsSidebar.jsx
Due: eslint, rubocop

Users can select individual items to read
  app/controllers/feeds/items_controller.rb
  app/controllers/items_controller.rb
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Reader/Index.jsx
  app/frontend/components/Reader/ItemsSidebar.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  config/routes.rb
  spec/system/reading/view_unread_items_spec.rb
Due: eslint, rubocop

Improves spacing for reader view
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Reader/FeedSidebar.jsx
Due: eslint

Improves route organisation with scopes
  app/controllers/manage/feeds_controller.rb
  app/controllers/read/feeds/items_controller.rb
  app/controllers/read/items_controller.rb
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/Pages/Feeds/Index.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  config/routes.rb
Due: eslint, rubocop

Highlight current item in sidebar
  app/frontend/components/Reader/ItemsSidebar.jsx
Due: eslint

Fetches new feed items when feed added
  Gemfile
  Gemfile.lock
  app/controllers/manage/feeds_controller.rb
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/sidekiq/refresh_feed_job.rb
  config/routes.rb
  spec/rails_helper.rb
  spec/system/feeds/feed_management_spec.rb
Due: eslint, rubocop

Attempts to configure heroku for review apps
  Procfile.dev
  app.json
  config/sidekiq.yml
Due: none

Adds user resizing items column on x axis
  app/frontend/components/Reader/ItemsSidebar.jsx
  app/frontend/utils/hooks.js
  package.json
  yarn.lock
Due: eslint

User marks item as read or unread
  app/controllers/read/feeds/items_controller.rb
  app/controllers/read/items_controller.rb
  app/controllers/read/reads_controller.rb
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  config/routes.rb
  spec/factories/items.rb
  spec/system/reading/mark_item_as_read_spec.rb
Due: eslint, rubocop

Adds Tooltip React component
  app/.DS_Store
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Tooltip.jsx
  package.json
  yarn.lock
Due: eslint

Improves tooltip design and structures
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Tooltip.jsx
  package.json
  yarn.lock
Due: eslint

Experiment with dashboard page and alba Gem
  Gemfile
  Gemfile.lock
  app/controllers/dashboards_controller.rb
  app/frontend/Pages/Dashboard/Show.jsx
  app/frontend/css/index.css
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/serializers/feed_resource.rb
  app/serializers/item_resource.rb
  config/routes.rb
  package.json
  tailwind.config.js
  yarn.lock
Due: eslint, rubocop

Path conditions:
  eslint: any of: *.{js,ts,jsx}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
