Repository jonathanmdavies/gooey-rails: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

eslint:
  run: yarn lint {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Adds scopes with ordering
  app/controllers/manage/feeds_controller.rb
  app/controllers/read/feeds/items_controller.rb
  app/controllers/read/items_controller.rb
  app/models/account.rb
  app/models/feed.rb
  app/models/item.rb
  spec/models/feed_spec.rb
Due: rubocop

Simplifies FeedSidebar implementation.
  app/frontend/components/Reader/FeedSidebar.jsx
Due: eslint

Renames Read scope name with all
  app/controllers/all/feeds/items_controller.rb
  app/controllers/all/items_controller.rb
  app/controllers/all/reads_controller.rb
  config/routes.rb
Due: rubocop

Adds viewing all unread items
  app/controllers/unread/items_controller.rb
  app/frontend/components/Reader/FeedSidebar.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/models/account.rb
  app/models/feed.rb
  app/serializers/unread/item_resource.rb
  config/routes.rb
  spec/factories/feeds.rb
  spec/factories/items.rb
  spec/system/reading/all_items_spec.rb
  spec/system/reading/unread_items_spec.rb
Due: eslint, rubocop

Adds user viewing unread feed items
  app/controllers/unread/feeds/items_controller.rb
  app/controllers/unread/items_controller.rb
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/components/Reader/FeedSidebar.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/models/account.rb
  app/serializers/unread/feed/item_resource.rb
  app/serializers/unread/feed_resource.rb
  config/routes.rb
  spec/system/reading/all_items_spec.rb
  spec/system/reading/unread_items_spec.rb
Due: eslint, rubocop

Moves reads controller out of 'all' module
  app/controllers/reads_controller.rb
  config/routes.rb
Due: rubocop

Refactors refreshing as RESTful actions
  app/controllers/manage/feeds/refreshes_controller.rb
  app/controllers/manage/feeds_controller.rb
  app/controllers/manage/refreshes_controller.rb
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/Pages/Feeds/Index.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  config/routes.rb
  spec/requests/refresh_feed_spec.rb
Due: eslint, rubocop

Redirects to next item when item read/unread
  app/controllers/all/items_controller.rb
  app/controllers/reads_controller.rb
  app/models/navigator.rb
  config/brakeman.ignore
  spec/models/navigator_spec.rb
  spec/system/reading/mark_item_as_read_spec.rb
  spec/system/reading/marks_item_as_read_spec.rb
  spec/system/reading/marks_item_as_unread_spec.rb
Due: rubocop

Displays toast when item is read / unread
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Toast.jsx
  app/views/layouts/application.html.erb
  package.json
  yarn.lock
Due: eslint

Replaces refresh all flash message with toast
  app/controllers/manage/refreshes_controller.rb
  app/frontend/Layouts/Authenticated.jsx
  spec/requests/refresh_feed_spec.rb
Due: eslint, rubocop

Adds refreshing a single feed with toast success
  app/frontend/Pages/Feeds/Index.jsx
  app/frontend/components/manage/FeedDropdown.jsx
Due: eslint

Reloads page 5 seconds after refres all feeds
  app/frontend/Layouts/Authenticated.jsx
Due: eslint

Adds spinner when refreshing a single feed
  app/frontend/components/manage/FeedDropdown.jsx
Due: eslint

Adds unread_items counter cache to feeds
  Gemfile
  Gemfile.lock
  app/frontend/components/Reader/FeedSidebar.jsx
  app/models/item.rb
  app/serializers/unread/feed_resource.rb
  db/migrate/20220408134827_add_unread_items_count_to_feeds.rb
  db/schema.rb
  spec/models/item_spec.rb
Due: eslint, rubocop

Path conditions:
  eslint: any of: *.{js,ts,jsx}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
