Repository jonathanmdavies/gooey-rails: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

eslint:
  run: yarn lint {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Improves reliability of dragging
  app/frontend/components/Reader/ItemsSidebar.jsx
Due: eslint

experiement with navigating
  app/frontend/Pages/Dashboard/Show.jsx
Due: eslint

test with specifying web and worker formation
  app.json
Due: none

test to setup Profile correctly
  Procfile
  app.json
Due: none

Fetches new feed items when feed added
  Gemfile
  Gemfile.lock
  app/controllers/manage/feeds_controller.rb
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/sidekiq/refresh_feed_job.rb
  config/routes.rb
  spec/rails_helper.rb
  spec/system/feeds/feed_management_spec.rb
Due: eslint, rubocop

Configure heroku workers for review apps
  Procfile
  app.json
  config/sidekiq.yml
Due: none

Replaces Faker Seed data with real feeds
  db/seeds.rb
Due: rubocop

Adds user refreshing all feeds at once
  app/controllers/manage/feeds_controller.rb
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/services/feed_fetcher.rb
  config/routes.rb
  spec/factories/feeds.rb
  spec/rails_helper.rb
  spec/requests/refresh_feed_spec.rb
Due: eslint, rubocop

Replaces Active Model Serializers with Alba
  Gemfile
  Gemfile.lock
  app/controllers/manage/feeds_controller.rb
  app/serializers/feed_serializer.rb
  spec/requests/feeds_index_spec.rb
Due: rubocop

Improves Item Panel layout
  app/controllers/read/items_controller.rb
  app/frontend/components/Reader/FeedItemPanel.jsx
Due: eslint, rubocop

Refactors generation of item paths
  app/controllers/read/feeds/items_controller.rb
  app/controllers/read/items_controller.rb
  app/frontend/components/Reader/ItemsSidebar.jsx
  app/serializers/item_resource.rb
  spec/serializers/item_resource_spec.rb
Due: eslint, rubocop

Clicking feed name in sidebar goes to first item
  app/controllers/manage/feeds_controller.rb
  app/controllers/read/feeds/items_controller.rb
  app/controllers/read/items_controller.rb
  app/frontend/components/Reader/FeedSidebar.jsx
  app/models/feed.rb
  app/serializers/feed_resource.rb
  app/serializers/read/feed_resource.rb
  spec/models/feed_spec.rb
  spec/system/reading/view_unread_items_spec.rb
Due: eslint, rubocop

Reduces number of db queries in show action
  app/controllers/read/feeds/items_controller.rb
Due: rubocop

Populates item content with entry summary
  app/services/item_creator.rb
  spec/factories/entries.rb
  spec/services/item_creator_spec.rb
Due: rubocop

Renames read namespace to all
  app/controllers/all/feeds/items_controller.rb
  app/controllers/all/items_controller.rb
  app/controllers/all/reads_controller.rb
  config/routes.rb
Due: rubocop

Spike to figure out how to manage unread vs read
  app/controllers/all/feeds/items_controller.rb
  app/controllers/all/items_controller.rb
  app/controllers/all/reads_controller.rb
  app/controllers/manage/feeds_controller.rb
  app/controllers/unread/feeds/items_controller.rb
  app/controllers/unread/items_controller.rb
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Reader/FeedSidebar.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/models/account.rb
  app/models/feed.rb
  app/models/item.rb
  app/serializers/blah/feed_resource.rb
  app/serializers/unread/feed_resource.rb
  app/serializers/unread/item_resource.rb
  app/services/navigator.rb
  config/routes.rb
  spec/factories/items.rb
  spec/services/navigator_spec.rb
Due: eslint, rubocop

Adds scopes with ordering
  app/controllers/manage/feeds_controller.rb
  app/controllers/read/feeds/items_controller.rb
  app/controllers/read/items_controller.rb
  app/models/account.rb
  app/models/feed.rb
  app/models/item.rb
  spec/models/feed_spec.rb
Due: rubocop

Path conditions:
  eslint: any of: *.{js,ts,jsx}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
