Repository jonathanmdavies/gooey-rails: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

eslint:
  run: yarn lint {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

adds deleting a feed
  app/controllers/feeds_controller.rb
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/Pages/Feeds/Index.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  config/routes.rb
  spec/system/feeds/feed_management_spec.rb
Due: eslint, rubocop

Extracts a Dropdown component
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/Pages/Feeds/Index.jsx
  app/frontend/components/Dropdown.jsx
  app/frontend/components/DynamicIcon.jsx
  spec/system/feeds/feed_management_spec.rb
Due: eslint, rubocop

replces all instances of InertiaLink with Link
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/Pages/Feeds/Index.jsx
Due: eslint

Implements refreshing a feed's items
  Gemfile
  Gemfile.lock
  app/controllers/feeds_controller.rb
  app/frontend/Pages/Feeds/Index.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/models/feed.rb
  app/models/item.rb
  app/services/feed_creator.rb
  app/services/feed_fetcher.rb
  app/services/item_creator.rb
  config/routes.rb
  db/migrate/20220228191525_create_items.rb
  db/schema.rb
  spec/factories/items.rb
  spec/models/item_spec.rb
  spec/rails_helper.rb
  spec/services/feed_fetcher_spec.rb
  spec/services/item_creator_spec.rb
  spec/system/feeds/feed_management_spec.rb
Due: eslint, rubocop

Sanitizes HTML in item content attribute on save
  Gemfile
  Gemfile.lock
  app/models/item.rb
  spec/models/item_spec.rb
Due: rubocop

Adds Added to Feed Index column
  app/frontend/Pages/Feeds/Index.jsx
Due: eslint

Experiments with routing / layouts / components for reader view
  app/controllers/feeds/unread_controller.rb
  app/controllers/items/unread_controller.rb
  app/frontend/Pages/Feeds/Unread/Index.jsx
  app/frontend/Pages/Feeds/Unread/Show.jsx
  app/frontend/Pages/Items/Unread/Index.jsx
  app/frontend/components/Reader/Sidebar.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/models/account.rb
  config/routes.rb
Due: eslint, rubocop

Extract Read page into seperate components.
  app/frontend/Pages/HelloWorld/Read.jsx
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Reader/FeedSidebar.jsx
  app/frontend/components/Reader/Index.jsx
Due: eslint

Root returns paginated unread items
  app/controllers/hello_world_controller.rb
  app/controllers/items_controller.rb
  app/frontend/Pages/HelloWorld/Index.jsx
  app/frontend/Pages/Unread/Index.jsx
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Reader/Index.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/frontend/utils/hooks.js
  app/models/account.rb
  app/models/item.rb
  config/routes.rb
  spec/models/item_spec.rb
  spec/rails_helper.rb
  spec/system/reading/view_unread_items_spec.rb
Due: eslint, rubocop

Adds viewing a single feed's unread items
  app/controllers/feeds/items_controller.rb
  app/controllers/items_controller.rb
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/Reader/FeedSidebar.jsx
  app/frontend/components/Reader/Index.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  config/routes.rb
  db/seeds.rb
  package.json
  spec/system/reading/view_unread_items_spec.rb
  yarn.lock
Due: eslint, rubocop

Fixes Eslint error with unused Transition import
  app/frontend/components/Reader/FeedSidebar.jsx
Due: eslint

FeedFetcher checks if item is already present
  app/services/feed_fetcher.rb
Due: rubocop

FeedCreator now uses user input to set feed url
  app/services/feed_creator.rb
Due: rubocop

Lets user set last_fetched_at on adding feed
  app/controllers/feeds_controller.rb
  app/frontend/components/NewFeedButton.jsx
  app/models/time_string_parser.rb
  app/services/feed_creator.rb
  app/services/feed_fetcher.rb
  spec/models/time_string_parser_spec.rb
  spec/rails_helper.rb
  spec/services/feed_creator_spec.rb
  spec/services/feed_fetcher_spec.rb
  spec/system/feeds/feed_management_spec.rb
Due: eslint, rubocop

Path conditions:
  eslint: any of: *.{js,ts,jsx}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
