Repository jonathanmdavies/gooey-rails: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

eslint:
  run: yarn lint {staged_files}

rubocop:
  tags: backend style
  run: bundle exec rubocop --force-exclusion {all_files}

Fixes some prop validation errors
  app/frontend/components/NewFeedButton.jsx
  app/frontend/components/Reader/FeedItemPanel.jsx
Due: eslint

Adds Item Actions to Command Palette
  app/frontend/components/CommandPalette.jsx
  app/frontend/utils/createActions.js
  spec/system/command_palette/command_palette_actions_spec.rb
Due: eslint, rubocop

Adds resuable modal component
  app/frontend/components/Modal/Modal.jsx
  app/frontend/components/NewFeedButton.jsx
Due: eslint

Fixes broken seed data
  db/seeds.rb
Due: rubocop

Adds Groups and create action
  Gemfile
  Gemfile.lock
  app/controllers/all/feeds/items_controller.rb
  app/controllers/all/items_controller.rb
  app/controllers/groups_controller.rb
  app/controllers/unread/feeds/items_controller.rb
  app/controllers/unread/items_controller.rb
  app/frontend/components/Reader/FeedSidebar.jsx
  app/frontend/components/Reader/FeedSidebar/GroupItem.jsx
  app/frontend/components/Reader/FeedSidebar/NewGroupButton.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/models/account.rb
  app/models/group.rb
  config/routes.rb
  db/migrate/20220621133835_create_groups.rb
  db/schema.rb
  spec/factories/groups.rb
  spec/models/group_spec.rb
  spec/system/groups/add_group_spec.rb
Due: eslint, rubocop

change text
  app/frontend/Layouts/Unauthenticated.jsx
Due: eslint

Add vex PR projection test marker
  VEX_PR_TEST.md
Due: none

test: verify native completion stream routing
  VEX_PR_TEST_20260724.md
Due: none

test: verify materialized checkpoint recovery
  VEX_PR_TEST_20260724_SECOND.md
Due: none

test: verify GitHub review landing
  VEX_GITHUB_PR_E2E_20260724.md
Due: none

test: verify public completion flow
  VEX_COMPLETION_E2E.md
Due: none

test: verify Vex GitHub stack landing
  VEX_GITHUB_PR_E2E_20260725.md
Due: none

test: add first stacked landing marker
  VEX_STACK_TWO_CHANGE_1.md
Due: none

test: add second stacked landing marker
  VEX_STACK_TWO_CHANGE_2.md
Due: none

test(VEX-219 S1 A): valid partial landing prefix
  VEX219_S1_A.md
Due: none

test(VEX-219 S1 B): keep valid open suffix
  VEX219_S1_B.md
Due: none

test(VEX-219 S1 C): preserve suffix chain
  VEX219_S1_C.md
Due: none

test(VEX-219 S2 A): two change prefix first
  VEX219_S2_A.md
Due: none

Path conditions:
  eslint: any of: *.{js,ts,jsx}
  rubocop: any of: *.rb, but not: application.rb|routes.rb
