Repository jonathanmdavies/gooey-rails: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx}"
      run: yarn lint {staged_files}
    rubocop:
      tags: backend style
      glob: "*.rb"
      exclude: "application.rb|routes.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman -A -q --no-pager

Doesn't return unscoped feeds
  app/controllers/manage/feeds_controller.rb
Due: rubocop

Fixes duplicate active feed link
  app/frontend/components/Reader/FeedSidebar.jsx
Due: eslint

Adds simple item pagination
  app/controllers/all/feeds/items_controller.rb
  app/controllers/all/items_controller.rb
  app/controllers/unread/feeds/items_controller.rb
  app/controllers/unread/items_controller.rb
  app/frontend/components/Reader/ItemsSidebar.jsx
  app/models/item_page.rb
  spec/models/item_page_spec.rb
  spec/system/reading/all_items_spec.rb
  spec/system/reading/unread_items_spec.rb
Due: eslint, rubocop

Adds a readme
  README.md
Due: none

Refactors feed mgmt page to derive state from url
  app/frontend/Pages/Feeds/Index.jsx
Due: eslint

Adds Storybook config with Vite
  .eslintrc.js
  .storybook/main.js
  .storybook/preview.js
  package.json
  stories/Button.jsx
  stories/Button.stories.jsx
  stories/Header.jsx
  stories/Header.stories.jsx
  stories/Introduction.stories.mdx
  stories/Page.jsx
  stories/Page.stories.jsx
  stories/Test.stories.jsx
  stories/assets/code-brackets.svg
  stories/assets/colors.svg
  stories/assets/comments.svg
  stories/assets/direction.svg
  stories/assets/flow.svg
  stories/assets/plugin.svg
  stories/assets/repo.svg
  stories/assets/stackalt.svg
  stories/button.css
  stories/header.css
  stories/page.css
  yarn.lock
Due: eslint

Adds Base Input (+ deletes example stories)
  .storybook/main.js
  app/frontend/components/Base/Input.jsx
  package.json
  stories/Base/Input.stories.jsx
  stories/Button.jsx
  stories/Button.stories.jsx
  stories/Header.jsx
  stories/Header.stories.jsx
  stories/Introduction.stories.mdx
  stories/Page.jsx
  stories/Page.stories.jsx
  stories/Test.stories.jsx
  stories/button.css
  stories/header.css
  stories/page.css
  yarn.lock
Due: eslint

Imports Tailwind CSS and gets Google Fonts
  .storybook/preview-head.html
  .storybook/preview.js
Due: eslint

Replaces text inputs with Base Input component
  app/frontend/Pages/Accounts/Sessions/New.jsx
  app/frontend/components/NewFeedButton.jsx
Due: eslint

Adds library to format name and validates presence
  Gemfile
  Gemfile.lock
  app/models/account.rb
  spec/models/account_spec.rb
Due: rubocop

Improves design of unauthenticated layout
  app/frontend/Layouts/Unauthenticated.jsx
  app/frontend/images/unauthenticated_background.jpg
Due: eslint

Adds user creating an account.
  app/controllers/accounts/registrations_controller.rb
  app/frontend/Pages/Accounts/Registrations/New.jsx
  config/routes.rb
  spec/system/authentication/sign_up_spec.rb
Due: eslint, rubocop

New session page links to new registration page
  app/frontend/Pages/Accounts/Sessions/New.jsx
Due: eslint

Import Background image so loads on Heroku
  app/frontend/Layouts/Unauthenticated.jsx
Due: eslint
