Repository jonathanmdavies/gooey-rails: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, rubocop

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx}"
      run: yarn lint {staged_files}
    rubocop:
      tags: backend style
      glob: "*.rb"
      exclude: "application.rb|routes.rb"
      run: bundle exec rubocop --force-exclusion {all_files}
    brakeman:
      tags: backend security
      run: bundle exec brakeman -A -q --no-pager

Import Background image so loads on Heroku
  app/frontend/Layouts/Unauthenticated.jsx
Due: eslint

Adds Button, LinkButton and IconButton components
  app/frontend/components/Base/Button.jsx
  app/frontend/components/Base/IconButton.jsx
  app/frontend/components/Base/LinkButton.jsx
  stories/Base/Button.stories.jsx
Due: eslint

Replaces button and links with base components
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/Pages/Accounts/Registrations/New.jsx
  app/frontend/Pages/Accounts/Sessions/New.jsx
  app/frontend/Pages/Feeds/Index.jsx
  app/frontend/components/NewFeedButton.jsx
  app/frontend/components/NewOpmlFileImportButton.jsx
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/components/manage/FeedDropdown.jsx
  spec/system/feeds/feed_management_spec.rb
Due: eslint, rubocop

Adds generic error page.
  app/frontend/Pages/Error.jsx
  public/404.html
  public/422.html
  public/500.html
Due: eslint

Extracts bookmarking into a custom hook.
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/hooks/useBookmark.jsx
Due: eslint

Extracts mark as read functionality into hook
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/hooks/useMarkAsRead.jsx
Due: eslint

Extracts opening link into js function
  app/frontend/components/Reader/FeedItemPanel.jsx
  app/frontend/hooks/useOpenLink.jsx
Due: eslint

Quick fixes for correct all/unread toggle context.
  app/frontend/components/Reader/FeedSidebar.jsx
Due: eslint

Refines sidebar design.
  app/frontend/components/Reader/FeedSidebar.jsx
  app/frontend/images/sidebar_background.jpg
Due: eslint

adds classNames utility function
  app/frontend/components/Base/Button.jsx
  app/frontend/components/Base/IconButton.jsx
  app/frontend/components/Base/Input.jsx
  app/frontend/components/Base/LinkButton.jsx
  app/frontend/components/Reader/FeedSidebar.jsx
  app/frontend/components/select-menu.jsx
  app/frontend/utils/index.js
Due: eslint

Updates HeadlessUI to fix esc close
  package.json
  yarn.lock
Due: none

Adds hook for detecting key press
  app/frontend/hooks/useKeyPress.js
Due: eslint

Adds API Route and controller for command palette
  app/controllers/api/command_palette/feeds_controller.rb
  app/serializers/command_palette/feed_resource.rb
  config/routes.rb
  spec/requests/command_palette/feeds_index_spec.rb
Due: rubocop

Adds Command Palette
  app/frontend/Layouts/Authenticated.jsx
  app/frontend/components/CommandPalette.jsx
  app/frontend/routes.d.ts
  app/frontend/routes.js
  app/frontend/utils/index.js
  spec/system/command_palette/opens_command_palette_spec.rb
Due: eslint, rubocop
